<!DOCTYPE html>
<html lang="en">
  <!-- html head -->
  <head>
    <title>APP</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <!-- style -->
  <style>
  body {
    background-color: rgba(50, 50, 50, 0.5);
  }
  h1 {
    color: white;
    text-align: center;
    cursor: pointer;
  }
  p {
    color: white;
  }
  </style>

  <!-- javascript -->
  <script>
    // Send data from GUI to App (normal fetch web api from javacript client to server)
    async function sendMessage(message, actionOnComplete=null) {
        console.log(message);
        let response = await fetch('/api/v' + '0.0.1' + '/message',
            {
                method: "POST",
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({ 'message': message })
            }
        );
        let returnedJson = await response.json();
        console.log(returnedJson);
    }

    // Server Sent Event (data from App to GUI - gets pushed by python App)
    let receiveMessage = new EventSource('/api/v'+'0.0.1'+'/subscribe');
    receiveMessage.onerror = e => {console.log('error: ' + e);}
    // Javascript handler for messages
    receiveMessage.onmessage = e => {
        let message = JSON.parse(e.data);
        console.log('sse received: ' + JSON.stringify(message));   
        // replace with proper javascript reaction to present data to the user
        if ('message B' in message) {
          document.getElementById('text').innerText = message['message B'];
        }
    }
  </script>

  <!-- html content -->
  <body>
    <h1 id="title" onclick="sendMessage({'message A': 'title clicked'});">Homepage</h1>
    <p id='text'></p>
  </body>
</html>